<p-card header="{{ seleId ? 'Actualizar rol' : 'Crear rol' }}">
  <form [formGroup]="formulario">
    <div class="flex flex-column gap-2" appearance="fill">
      <label for="rolNombre">Nombre:</label>
      <input pInputText id="rolNombre" formControlName="rolNombre"/>
    </div>

    <div class="flex flex-column gap-2" appearance="fill">
      <label for="rolSigla">Siglas:</label>
      <input pInputText id="rolSigla" formControlName="rolSigla"/>
    </div>

    <div class="flex flex-column gap-2" appearance="fill">
      <label for="rolFechmodifi">Fecha:</label>
      <span class="p-float-label">
          <p-calendar id="rolFechmodifi" [showIcon]="true" formControlName="rolFechmodifi"></p-calendar>
      </span>
    </div>

    <div class="flex flex-column gap-2" appearance="fill">
      <label for="rolEstado">Nombre:</label>
      <input pInputText id="rolEstado" formControlName="rolEstado"/>
    </div>

    <p-toolbar>
      <div class="p-toolbar-group-end">
        <p-button label="{{ accionBoton }}" (click)="emitirAccion()"></p-button>
        <span style="width: 5px"></span>
        <p-button label="Limpiar" (click)="limpiar()"></p-button>
      </div>
    </p-toolbar>
  </form>
</p-card>


